<div [formGroup]="formGroup" class="login-form" fxLayoutAlign="center" style="margin-top: 3rem;">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px" style="width: 90%;">
        <div class="form-control">
            <label><ion-icon name="lock-closed"></ion-icon> 舊密碼</label>
            <input class="text-input text-input--material" formControlName="oldPassword" placeholder="請輸入舊密碼" type="password" required>
        </div>
        <div class="form-control">
            <label><ion-icon name="lock-closed"></ion-icon> 新密碼</label>
            <input class="text-input text-input--material" formControlName="newPassword" placeholder="請輸入新密碼" type="password" required>
        </div>
        <div class="form-control">
            <label><ion-icon name="lock-closed"></ion-icon> 新密碼確認</label>
            <input class="text-input text-input--material" formControlName="checkNewPassword" placeholder="請再輸入一次新密碼" type="password" required>
        </div>
        <button class="button--large--cta" style="width: 100%; padding: 0; background-color: #5DA1DD;" [disabled]="formGroup.invalid" (click)="updatePassword()">修改密碼</button>
    </div>
</div>