.login-bg {
    height: 100vh;
    background: linear-gradient(#094fb8, rgb(61, 151, 224));
    // background: url(/assets/login.jpg) center center / cover no-repeat fixed;
  }
  
  .login-form {
    .form-control {
        width: 100%;
    }
    .form-control label {
      display: block;
    }
    .form-control input {
        width: 100%;
      }
  }
