.alert-success-icon {
    font-size: 50px;
    font-weight: bold;
    color: #00D68F;
    border: 3px solid #00D68F;
    border-radius: 10rem;
    padding: 18px;
    // padding-bottom: 10px;
}
.alert-fail-icon {
    font-size: 50px;
    font-weight: bold;
    color: #FF3D71;
    border: 3px solid #FF3D71;
    border-radius: 10rem;
    padding: 18px;
    // padding-bottom: 10px;
}
.res-msg {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}