<div class="alert-dialog-mask alert-dialog-mask--material"></div>
<div class="alert-dialog alert-dialog--material">
  <div class="alert-dialog-container alert-dialog-container--material">
    <div class="alert-dialog-title alert-dialog-title--material">
      {{ title }}
    </div>
    <div class="alert-dialog-content alert-dialog-content--material">
      <div class="animate__animated animate__bounce" fxLayoutAlign="center">
        <ion-icon *ngIf="isSuccess" class="alert-success-icon" name="checkmark-outline"></ion-icon>
        <ion-icon *ngIf="!isSuccess" class="alert-fail-icon" name="close-outline"></ion-icon>
      </div>
      <div class="res-msg">{{msg}}</div>
    </div>
    <div class="alert-dialog-footer alert-dialog-footer--material">
    </div>
  </div>
</div>