<div class="card card--material">
    <div class="card__title card--material__title" fxLayoutAlign="center center" fxLayoutGap="5px">
        <span>設備資訊</span>
    </div>
    <div class="card__content card--material__content">
      <ul class="list list--material">
          <li class="list-item list-item--material">
            <div class="list-item__center list-item--material__center">
              <div class="list-item__title list-item--material__title" fxLayoutAlign="start" fxLayoutGap="5px">
                  <ion-icon name="text-outline"></ion-icon>
                  <span>名稱</span>
              </div>
              <div class="list-item__subtitle list-item--material__subtitle">體溫設備01</div>
            </div>
          </li>
          <li class="list-item list-item--material">
            <div class="list-item__center list-item--material__center">
              <div class="list-item__title list-item--material__title" fxLayoutAlign="start" fxLayoutGap="5px">
                <ion-icon name="calculator"></ion-icon>
                <span>機型</span>
              </div>
              <div class="list-item__subtitle list-item--material__subtitle">DEVICE_001</div>
            </div>
          </li>
          <li class="list-item list-item--material">
            <div class="list-item__center list-item--material__center">
              <div class="list-item__title list-item--material__title" fxLayoutAlign="start" fxLayoutGap="5px">
                <ion-icon name="qr-code"></ion-icon>
                <span>代碼</span>
              </div>
              <div class="list-item__subtitle list-item--material__subtitle">F9168C5E-CEB2-4faa-B6BF-329BF39FA1E4</div>
            </div>
          </li>
          <li class="list-item list-item--material">
              <div class="list-item__center list-item--material__center">
                <div class="list-item__title list-item--material__title" fxLayoutAlign="start" fxLayoutGap="5px">
                    <ion-icon name="navigate-circle"></ion-icon>
                    <span>位置</span>
                </div>
                <div class="list-item__subtitle list-item--material__subtitle">中正大樓-教務處門口</div>
              </div>
          </li>
          <li class="list-item list-item--material">
              <div class="list-item__center list-item--material__center">
                <div class="list-item__title list-item--material__title" fxLayoutAlign="start" fxLayoutGap="5px">
                    <ion-icon name="construct"></ion-icon>
                    <span>維護單位</span>
                </div>
                <div class="list-item__subtitle list-item--material__subtitle">資訊工程系</div>
              </div>
          </li>
          <li class="list-item list-item--material">
              <div class="list-item__center list-item--material__center">
                <div class="list-item__title list-item--material__title" fxLayoutAlign="start" fxLayoutGap="5px">
                    <ion-icon name="call"></ion-icon>
                    <span>問題回報</span>
                </div>
                <div class="list-item__subtitle list-item--material__subtitle">04-2345-7890</div>
              </div>
          </li>
        </ul>
    </div>
</div>
<button class="button--large--cta" style="width: 95%; margin: 0 auto;" (click)="toUploadPage()">
  <div fxLayoutAlign="center center" fxLayoutGap="5px">
    <ion-icon name="cloud-upload"></ion-icon>
    <span>上傳體溫</span>
  </div>
</button>