<!-- 標頭 -->
<div class="toolbar toolbar--material header">
  <div class="toolbar__center toolbar--material__center">
    <div fxLayoutAlign="start center" fxLayoutGap="10px">
      <!-- <img src="/assets/img/logo.gif" width="35"> -->
      <span class="title-text">NUTC 體溫回報系統</span>
    </div>
  </div>
</div>
<!-- 路由渲染區 -->
<div class="feature" fxLayoutAlign="center">
  <router-outlet></router-outlet>
</div>
<!-- 選單 -->
<div class="tabbar">
  <label class="tabbar__item">
    <input type="radio" name="tabbar-a">
    <button class="tabbar__button">
      <i class="tabbar__icon">
        <ion-icon name="qr-code-outline"></ion-icon>
      </i>
      <div class="tabbar__label">掃描裝置</div>
    </button>
  </label>
  <label class="tabbar__item">
    <input type="radio" name="tabbar-a" checked="checked">
    <button class="tabbar__button">
      <i class="tabbar__icon">
        <ion-icon name="home"></ion-icon>
      </i>
      <div class="tabbar__label">首頁</div>
    </button>
  </label>
  <label class="tabbar__item">
    <input type="radio" name="tabbar-a">
    <button class="tabbar__button">
      <i class="tabbar__icon">
        <ion-icon name="thermometer-outline"></ion-icon>
      </i>
      <div class="tabbar__label">體溫上傳</div>
    </button>
  </label>
</div>