<!-- 標頭 -->
<div class="toolbar toolbar--material header">
  <div class="toolbar__center toolbar--material__center">
    <div fxLayoutAlign="space-between center" fxLayoutGap="10px">
      <!-- <img src="/assets/img/logo.gif" width="35"> -->
      <span class="title-text">NUTC 體溫回報系統</span>
      <ion-icon style="color: #ffffff;" name="qr-code-outline" (click)="toPage('/qrcode')"></ion-icon>
    </div>
  </div>
</div>
<!-- 路由渲染區 -->
<div class="feature" >
  <router-outlet></router-outlet>
</div>
<!-- 選單 -->
<!-- <div class="tabbar">
  <label *ngFor="let menuItem of footerMenu" (click)="toPage(menuItem.path)" class="tabbar__item">
    <input type="radio" name="tabbar-a" [checked]="currentPath === menuItem.path ? 'checked' : ''">
    <button class="tabbar__button">
      <i class="tabbar__icon">
        <ion-icon [name]="menuItem.icon"></ion-icon>
      </i>
      <div class="tabbar__label">{{ menuItem.title }}</div>
    </button>
  </label>
</div> -->