.start-scan-btn {
    background: #0076FF;
}

.scannibg-btn {
    background: gray;
}

.info-title {
    text-align: center; 
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px; 
    font-weight: bold;
}

.info-border {
    border-right: 1px solid gainsboro
}

.temperature-danger {
    font-weight: bold;
    font-size: 2rem;
}

.temperature-success {
    font-weight: bold;
    font-size: 2rem;
}

.temperature-fail {
    font-weight: bold;
    font-size: 2rem;
}

.canvas {
    width: 100%;
    height: 100%;
    position: absolute;   /*重要的一步是設定絕對定位*/
    margin:auto;          /*將四周邊距都設為auto自動*/
    left: 0;              /*離包含元素的距離均設為零*/
    right: 0;
    top: 0;
    bottom: 0;
}

::ng-deep {
    .success-theme {
        $backgroundColor:  #00D68F;
        $fontColor:  #FF0000;
        background-color: $backgroundColor;
        // color: $fontColor;
        .list-item--material {
            background-color: $backgroundColor;
            // color: $fontColor;
        }
    }
    .danger-theme {
        $backgroundColor:  #FF0000;
        $fontColor:  #00D68F;
        background-color: $backgroundColor;

        .list-item--material {
            background-color: $backgroundColor;

        }
    }
    .warn-theme {
        $backgroundColor:  #FFFF00;
        $fontColor:  #330066;
        background-color: $backgroundColor;
        // color: $fontColor;
        .list-item--material {
            background-color: $backgroundColor;
            // color: $fontColor;
        }
    }
    .bg {
        background-size:100% 100%;
        background-image:url(/assets/img/bk.jpg);
        .list--material {
            background-color: inherit;
            // color: $fontColor;
        }
    }
}
  