<div #pageRef style="overflow: auto; height: 100%;">
    <div [hidden]="temperature !== 0" fxLayoutAlign="center" style="position: relative;" >
        <webcam [width]="canvasWidth" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" ></webcam>
        <div class="canvas" style="width: 90vw">
            <canvas id="stage" [width]="canvasWidth" [height]="canvasHeidht"></canvas>
        </div>
        <!-- <img *ngIf="webcamImage" width="300" [src]="webcamImage.imageAsDataUrl"/> -->
    </div>
    <div *ngIf="temperature === 0" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <!-- <ng-container>
            <button *ngIf="!webcamImage" class="button--large--cta" (click)="triggerSnapshot()">
                <div fxLayoutAlign="center center" fxLayoutGap="5px">
                    <ion-icon name="camera"></ion-icon>
                    <span>拍攝照片</span>
                </div>
            </button>
            <button *ngIf="webcamImage" class="button--large--cta" [disabled]="isUploading" (click)="resetSnapshot()">
                <div fxLayoutAlign="center center" fxLayoutGap="5px">
                    <ion-icon name="camera-reverse"></ion-icon>
                    <span>重新拍照</span>
                </div>
            </button>
        </ng-container> -->
        <div class="msg" style="color: red;">
            *請將相機水平對準設備
        </div>
        <ng-container *ngIf="false">
            <ng-container *ngIf="!isScanning">
                <button class="button--large--cta start-scan-btn" (click)="startScan()">
                    <div fxLayoutAlign="center center" fxLayoutGap="5px">
                        <ion-icon name="camera"></ion-icon>
                        <span>開始辨識</span>
                    </div>
                </button>
            </ng-container>
            <ng-container *ngIf="isScanning">
                <button class="button--large--cta scannibg-btn">
                    <div fxLayoutAlign="center center" fxLayoutGap="5px">
                        <ion-icon name="camera"></ion-icon>
                        <span style="color: #ffffff;">辨識中...</span>
                    </div>
                </button>
            </ng-container>
        </ng-container>
        
        
        <!-- <button class="button--large--cta" style="background: #0076FF;" [disabled]="!webcamImage || isUploading" (click)="uploadImg()">
            <div fxLayoutAlign="center center" fxLayoutGap="5px">
                <ion-icon name="thermometer-outline"></ion-icon>
                <span>{{ isUploading ? '辨識中...' : '體溫辨識'}}</span>
            </div>
        </button> -->
    </div>
    <div fxLayout="row" style="margin-top: 1rem;">
        <div fxFlex="50">
            <p class="info-title"><ion-icon name="calculator"></ion-icon>設備資訊</p>
        </div>
        <div fxFlex="50">
            <p class="info-title"><ion-icon name="thermometer-outline"></ion-icon>辨識結果</p>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex="50">
            <ul class="list list--material info-border">
                <li class="list-item list-item--material">
                  <div class="list-item__center list-item--material__center">
                    <div class="list-item__title list-item--material__title" fxLayoutAlign="start" fxLayoutGap="5px">
                        <ion-icon name="text-outline"></ion-icon>
                        <span>名稱</span>
                    </div>
                    <div class="list-item__subtitle list-item--material__subtitle">體溫設備01</div>
                  </div>
                </li>
                <li class="list-item list-item--material">
                    <div class="list-item__center list-item--material__center">
                      <div class="list-item__title list-item--material__title" fxLayoutAlign="start" fxLayoutGap="5px">
                          <ion-icon name="navigate-circle"></ion-icon>
                          <span>位置</span>
                      </div>
                      <div class="list-item__subtitle list-item--material__subtitle">中正大樓-教務處門口</div>
                    </div>
                </li>
                <li class="list-item list-item--material">
                    <div class="list-item__center list-item--material__center">
                      <div class="list-item__title list-item--material__title" fxLayoutAlign="start" fxLayoutGap="5px">
                          <ion-icon name="construct"></ion-icon>
                          <span>維護單位</span>
                      </div>
                      <div class="list-item__subtitle list-item--material__subtitle">資訊工程系</div>
                    </div>
                </li>
              </ul>
        </div>
        <div fxFlex="50">
            <div fxLayoutAlign="center center" style="height: 100%;">
                <span *ngIf="temperature >= warnTemperature" class="temperature-danger">{{ temperature }}&deg;C</span>
                <span *ngIf="warnTemperature > temperature &&  temperature > 0" class="temperature-success">{{ temperature }}&deg;C</span>
                <span *ngIf="temperature === 0" class="temperature-fail">尚未辨識</span>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="10px" style="margin-top: 1rem;">
        <button *ngIf="temperature !== 0" class="button--large--cta" style="background: #00D68F; color: #ffffff;">
            <div fxLayoutAlign="center center" fxLayoutGap="5px">
                <ion-icon name="send"></ion-icon>
                <span>送出結果</span>
            </div>
        </button>
        <button *ngIf="temperature !== 0" class="button--large--cta" style="background: #FF3D71; color: #ffffff;" (click)="reset()">
            <div fxLayoutAlign="center center" fxLayoutGap="5px" >
                <ion-icon name="refresh-outline"></ion-icon>
                <span>重新辨識</span>
            </div>
        </button>
    </div>
    
    
</div>
<app-qrcode-res-dialog *ngIf="dialogSetting.isShow" [title]="'辨識結果'" [isSuccess]="dialogSetting.isSuccess" [msg]="dialogSetting.msg"></app-qrcode-res-dialog>